<table class="table" style="width: 50%; margin: 10px;">
    <thead>
        <tr>
            <th scope="col">Usuarios adultos</th>
            <th scope="col">Usuarios jovenes</th>
          </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{srvGestUsu.calcularEstadooTipo(1)[0]}}</td>
            <td>{{srvGestUsu.calcularEstadooTipo(1)[1]}}</td>
        </tr>
</table>
