<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

<app-usuarios-estado></app-usuarios-estado>
<app-usuarios-tipo></app-usuarios-tipo>

<a class="link-success" href="http://127.0.0.1:8635/Vista.html">Ir a Gestor Usuarios</a>