﻿@{
    ViewData["Title"] = "Practica Usuarios";
}

<div class="text-center">
    <h1 class="display-4">Practica Usuarios</h1>
    <br />
    <a href="./Vista.html">Cliente AJAX Usuarios</a>
    <br />
    <a href="./index_consulta_datos.html">Consulta datos Usuarios</a>
    <a href="../Views/Products/Index.cshtml">Consulta datos Productos</a>

</div>
