<table class="table" style="width: 50%; margin: 10px;">
    <thead>
        <tr>
            <th scope="col">Usuarios activos</th>
            <th scope="col">Usuarios inactivos</th>
          </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{srvGestUsu.calcularEstadooTipo(0)[0]}}</td>
            <td>{{srvGestUsu.calcularEstadooTipo(0)[1]}}</td>
        </tr>
</table>



